/Halstead/.idea/.name
/Halstead/.idea/compiler.xml
/Halstead/.idea/misc.xml
/Halstead/.idea/modules.xml
/Halstead/.idea/vcs.xml
/Halstead/.idea/workspace.xml
/Halstead/Halstead.iml
/Halstead/dilan.salinda.iml
/Halstead/target/classes/halstendComplexity.class
